page-bedanking {
    
    .background{
        background: linear-gradient(150deg, #534271 0%,#c5c7ff 100%);
    }
    .title-style{
        font-family: Pacifico;
        color: #23172a;
        font-size: 5rem;
        margin-bottom: 50px;
    }
    .scroll-content{
        margin-top: 100px;
    }

    .txt-style{
        font-family: Pacifico;
        color: #23172a;
        font-size: 2rem;
        margin-bottom: 50px;
    }
}
